#leagueContent .dataTables_length {
    float: left;
    width: 40%;
}

#leagueContent .dataTables_filter {
    float: right;
    text-align: right;
    width: 50%;
}


#leagueContent .dataTables_info {
    float: left;
    width: 60%;
}

#leagueContent .dataTables_paginate {
    float: right;
    text-align: right;
}


#leagueContent table {
    clear: both;
    margin: 0 auto;
    width: 100%;
}

#leagueContent thead th.sorting_desc {
    color: #B3F9D5;
}

#leagueContent thead th.sorting_asc {
    color: #F7B2B2;
}

#dt_example a {
    color: #0063DC;
    text-decoration: none;
}
/* Two button pagination - previous / next */
#leagueContent .paginate_disabled_previous,
#leagueContent .paginate_enabled_previous,
#leagueContent .paginate_disabled_next,
#leagueContent .paginate_enabled_next {
    height: 19px;
    float: left;
    cursor: pointer;
    *cursor: hand;
    color: #111 !important;
}
#leagueContent .paginate_disabled_previous:hover,
#leagueContent .paginate_enabled_previous:hover,
#leagueContent .paginate_disabled_next:hover,
#leagueContent .paginate_enabled_next:hover {
    text-decoration: none !important;
}
#leagueContent .paginate_disabled_previous:active,
#leagueContent .paginate_enabled_previous:active,
#leagueContent .paginate_disabled_next:active,
#leagueContent .paginate_enabled_next:active {
    outline: none;
}

#leagueContent .paginate_disabled_previous,
#leagueContent .paginate_disabled_next {
    color: #666 !important;
}
#leagueContent .paginate_disabled_previous,
#leagueContent .paginate_enabled_previous {
    padding-left: 23px;
}
#leagueContent .paginate_disabled_next,
#leagueContent .paginate_enabled_next {
    padding-right: 23px;
    margin-left: 10px;
}

#leagueContent .paginate_enabled_previous { background: url('../images/back_enabled.png') no-repeat top left; }
#leagueContent .paginate_enabled_previous:hover { background: url('../images/back_enabled_hover.png') no-repeat top left; }
#leagueContent .paginate_disabled_previous { background: url('../images/back_disabled.png') no-repeat top left; }

#leagueContent .paginate_enabled_next { background: url('../images/forward_enabled.png') no-repeat top right; }
#leagueContent .paginate_enabled_next:hover { background: url('../images/forward_enabled_hover.png') no-repeat top right; }
#leagueContent .paginate_disabled_next { background: url('../images/forward_disabled.png') no-repeat top right; }

/*#leagueContent .sorting_asc {
    background: url("../images/sort_asc.png") no-repeat scroll right center transparent;
}

#leagueContent .sorting {
    background: url("../images/sort_both.png") no-repeat scroll right center transparent;
}

#leagueContent .sorting_desc {
    background: url("../images/sort_desc.png") no-repeat scroll right center transparent;
} */